@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-gen-interface-jp: "Gen Interface JP", "Hiragino Kaku Gothic ProN",
		"Hiragino Sans", "Yu Gothic", "YuGothic", sans-serif;
	--font-zen-kaku: "Zen Kaku Gothic New", "Hiragino Kaku Gothic ProN",
		"Hiragino Sans", "Yu Gothic", "YuGothic", sans-serif;
	--font-sans: var(--font-gen-interface-jp);
	--font-zen: var(--font-zen-kaku);
}

.layout_grid {
	--layout-page-padding: calc(var(--spacing) * 6);
	--layout-sidebar-width: 20rem;
	--layout-column-gap: calc(var(--spacing) * 16);

	min-height: 100dvh;
}

header {
	display: grid;
	width: 100%;
}

footer {
	width: 100%;
}

@media (min-width: 640px) {
	.layout_grid {
		--layout-page-padding: calc(var(--spacing) * 12);
	}
}

@media (min-width: 768px) {
	.layout_grid {
		--layout-page-padding: calc(var(--spacing) * 16);
		--layout-column-gap: var(--layout-page-padding);
		--layout-content-offset: calc(
			var(--layout-sidebar-width) + var(--layout-column-gap)
		);
	}

	header {
		position: fixed;
		inset-block-start: var(--layout-page-padding);
		inset-inline-start: var(--layout-page-padding);
		z-index: 20;
		grid-template-rows: max-content 1fr;
		width: var(--layout-sidebar-width);
		height: calc(100dvh - var(--layout-page-padding) - var(--layout-page-padding));
	}

	header nav {
		align-self: end;
		justify-self: start;
	}

	main {
		margin-left: var(--layout-content-offset);
		margin-top: 14rem;
	}

	footer {
		margin-left: var(--layout-content-offset);
	}
}

@media (min-width: 1536px) {
	.layout_grid {
		--layout-page-padding: calc(var(--spacing) * 32);
	}
}

.header_logo {
	/* border: solid 1px; */
	letter-spacing: 0.4em;
	transform: translateX(-0.15em);
	line-height: 1.3;
}